<div class="page-header">
  <h1>Todos los estados</h1>
  <%= link_to "Crear un nuevo post", new_status_path, class: "btn btn-success" %>
</div>
<% @statuses.each do |status| %>

  <div class="status col-lg-6">

    <strong><%= status.nombre %></strong>
    <p><%= status.contenido %></p>
    <%= link_to "Hace " + time_ago_in_words(status.created_at), status %> |
    <div class="admin">
      <%= link_to "Editar", edit_status_path(status) %> |
      <%= link_to "Borrar", status, method: :delete, data:{confirm: "Estas seguro que deseas eliminar este estado?"} %>
    </div>

  </div>

<% end %>